body{

    margin: 0%;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

::-webkit-scrollbar { display: none; }


#menu{
    font-size: 3vw;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    top: 3vh;
    justify-content: space-around;
    height: 10vh;

}

.menu-text{
    transform: scaleY(1.5);
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bolder;
    cursor: pointer;

}

.header{
    background-color: red;
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 1;
}

#logo{
    position: relative;
    top: 0.5vh;
    height: 8vh;
    width: 16vh;
}

#wrapper{
    position: relative;
    top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-row.odd{
    width: 100%;
    height: 40vh;
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Roman", Icons ;
    font-weight: normal;
    font-size: 2vw;
    line-height: 4vw;
    overflow: hidden;
    background: black;
    color: white !important;
    
}

.content-row.odd > a{
    color: white !important;
}

.content-row.even{
    width: 100%;
    height: 40vh;
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Roman", Icons ;
    font-weight: normal;
    font-size: 2vw;
    line-height: 4vw;
    overflow: hidden;
    background: white;
    color: black;
    
}
.content-row.even > a{
    color: black !important;
}

.row-title, .row-text{
    text-align: left;
    margin-left: 0.5vw;
}



.menu-selected{
    color: black;
}

/* .content-selected{
    display: inline;
} */

.hidden{
    display: none !important;
}

a:link { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: black; text-decoration: none; }
a:active { color: black; background-color: none; }


.grid-wrapper{
    width: 100% !important;
    height: 100vh !important;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.content-grid>img{
    position: relative;
    width: 20vw;
    height: auto;
}

.content-grid{
    padding-left: 5vw;
    padding-right: 5vw;
}

.lecture_date{
    font-size: 2vw;
    width: 100%;
    text-align: center;
}

@media (max-width:400px){

    body{
        background: red;
    }
    #menu{
        font-size: 6vw;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 2;
        top: 3vh;
        justify-content: space-around;
        height: 10vh;
    
    }

    .header{
        height: 40vw;
    }

    #off{
        position: fixed !important;
        right: 1vw;
    }
    #wrapper{
        top: 40vw;
    }

    .content-row{
        font-size: 4vw !important;
        line-height: 6vw !important;
        height: 15vh !important;
    }

    .lecture_date{
        font-size: 8vw !important;
    }
}